body {
    background-color: antiquewhite;
    color: darkslategray;
    font-family: Tahoma, sans-serif;
}

h1{
    color: cadetblue;
    text-align: center;
    font-size: 40px;
}

h2{
    color: teal;
}

section{
    margin: 20px;
    padding: 15px;
}

ul{
    background-color: beige;
    padding: 15px;
}

a{
    color: teal;
}

#about {
    text-align: center;
}

#experience {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.job {
    background-color: beige;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
}
.job-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.job h3 {
    margin: 0;
}
.job span {
    font-weight: bold;
}

#connect ul{
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 0;
}

#skills ul {
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
}

#skills li {
    background-color: floralwhite;
    padding: 10px;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
}

input {
    padding: 10px;
    border-radius: 5px;
}

textarea {
    padding: 10px;
    border-radius: 3px;
}

button {
    width: 120px;
    padding: 10px;
}

#projects ul {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    list-style: none;
    padding: 0;
}

#projects li {
    background-color:floralwhite;
    padding: 10px;
    border-radius: 8px;
}
